{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <h1>logged in is {{current_user.username}}</h1>
    {% if current_user.is_admin %}
      <h3>you are admin</h3>
    {% endif %}
    <a href="/logout"><button>Log Out</button></a>
    <a href="/sites"><button>See Sites</button></a>
    <a href=""><button>Edit Sites</button></a>
    <a href="/sites/new"><button>Enter Site</button></a>
    <a href="/admin/users"><button>See Users</button></a>
    <a href="/admin/users/new"><button>Create User</button></a>
  </div>
{% endblock %}