{% extends "layout.html" %}
{% block content %}
  <div class="container hp-user">
    <div class="row justify-content-lg-center">
      <div class="col-lg-6">
        <h1>{{current_user.username}}</h1>
        <h3>you are admin</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 hp-lists">
        <table class="table hp-table">
          <thead>
            <th>Sites</th>
          </thead>
          <tbody>
            {% for site in sites: %}
              <tr>
                <td>{{site.name}}
                  <button class="btn btn-info edit-btn">View</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-lg-5 hp-lists">
        <table class="table hp-table">
          <thead>
            <th>Users</th>
          </thead>
          <tbody>
            {% for user in users: %}
              <tr>
                <td>{{user.username}} 
                  <button class="btn btn-info edit-btn">View</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



{% endblock %}
    <!-- <a href="/logout"><button>Log Out</button></a>
    <a href="/sites"><button>Sites</button></a>
    <a href="/sites/new"><button>Enter Site</button></a>
    <a href="/admin/users"><button>Users</button></a>
    <a href="/admin/users/new"><button>Create User</button></a> -->