{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 hp-form-block">
        <div class="row hp-form-header">
          <h1>create new user </h1>
        </div>
        <div class="row hp-form-content">
          <form class="hp-form" action="/admin/users/new" method="POST">
            <div class="form-group row hp-form-input" >
              <input class="form-control" type="text" name="username" id="username" placeholder="username" required>
            </div>
            <div class="form-group row hp-form-input">
              <input class="form-control" type="text" name="password" id="password" placeholder="password" required>
            </div>
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Admin:</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <label class="hp-switch" for="admin">
                      <input type="checkbox" name="user_type" value="admin" id="admin">
                      <span class="hp-slider round"></span>
                    </label>
                  </div>  
                </div>
              </div>
            </fieldset>
            <div class="form-group row">
              <label class="my-1 mr-2" for="site">Sites:</label>
              <select name='site' class="custom-select" size="3" id="site" multiple>
                {% for site in sites:%}
                  <option value="{{site.id}}">{{site.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group-row hp-form-btn">
              <input class="btn btn-primary" type="submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}