{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <form action="/admin/users/new" method="POST">
      <label for="username">
        <h1>Username:</h1>
      </label>
      <input type="text" name="username" id="username" required>
      <label for="password">
        <h1>Password:</h1>
      </label>
      <input type="text" name="password" id="password" required>
      <br>
      <input type="radio" name="user_type" value="admin" id="admin">admin
      <br>
      <input type="submit">
    </form>
  </div>
{% endblock content %}